<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <div class="posts">
      <% include partials/top %>

      <div class="edit">
        <h3>Edit Post</h3>
        <form class="posts_form" action="/posts/<%= post._id %>?_method=put" method="post">
          <label>Title</label>
          <input type="text" name="post[title]" value="<%= post.title %>">
          <label>Body</label>
          <textarea name="post[body]"><%= post.body %></textarea>
          <div class="float_right">Author: <%= user.nickname %></div>
          <button type="submit" name="button">Submit</button>
        </form>
        <a href="javascript:history.back()">
          <button type="button" name="button">Back</button>
        </a>
      </div>
    </div>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
